<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<urlrewrites>
	<Configuration>
		<RewriteRulesFile cacheExpire="60" />
	</Configuration>
	<rules>
		<rule name="Apsx pages">
			<url>/(\w*)\.aspx</url>
			<rewrite>/$1.aspx</rewrite>
		</rule>
		<rule name="axd pages">
			<url>/(\w*)\.axd</url>
			<rewrite>/$1.axd</rewrite>
		</rule>
		<rule name="ashx pages">
			<url>/(\w*)\.ashx</url>
			<rewrite>/$1.ashx</rewrite>
		</rule>

		<rule name="Trang moi">
			<url>/home.chn</url>
			<rewrite>/Default.aspx</rewrite>
		</rule>
		<rule name="Xem theo chuyen muc-thi truong chung khoan">
			<url>/(doanh-nghiep-gioi-thieu)\.chn</url>
			<rewrite>/pages/NewsList.aspx?cat_id=41&amp;cat_name=Doanh nghiệp giới thiệu&amp;url=doanh-nghiep-gioi-thieu</rewrite>
		</rule>
		<rule name="Xem theo chuyen muc-thi truong chung khoan">
			<url>/(doanh-nghiep-gioi-thieu)\/trang-([^/]+).chn</url>
			<rewrite>/pages/NewsList.aspx?cat_id=41&amp;cat_name=Doanh nghiệp giới thiệu&amp;url=doanh-nghiep-gioi-thieu&amp;pageindex=$2</rewrite>
		</rule>
		<rule name="Doanh nghiep gioi thieu">
			<url>/(doanh-nghiep-gioi-thieu)\/([^/]+)/([^/]+)/([^/]+)/trang-([^/]+).chn</url>
			<rewrite>/pages/NewsList.aspx?cat_id=41&amp;day=$2&amp;month=$3&amp;year=$4&amp;cat_name=Doanh nghiệp giới thiệu&amp;url=doanh-nghiep-gioi-thieu&amp;pageindex=$5</rewrite>
		</rule>

		<rule name="Xem theo chuyen muc-thi truong chung khoan">
			<url>/(thi-truong-chung-khoan)\.chn</url>
			<rewrite>/pages/NewsList.aspx?cat_id=31&amp;cat_name=Thị trường chứng khoán&amp;url=thi-truong-chung-khoan</rewrite>
		</rule>
		<rule name="Xem theo chuyen muc-thi truong chung khoan (co phan trang)">
			<url>/(thi-truong-chung-khoan)\/trang-([^/]+).chn</url>
			<rewrite>/pages/NewsList.aspx?cat_id=31&amp;cat_name=Thị trường chứng khoán&amp;url=thi-truong-chung-khoan&amp;pageindex=$2</rewrite>
		</rule>
		<rule name="Xem theo chuyen muc-thi truong chung khoan (co phan trang; xem theo ngay,thang)">
			<url>/(thi-truong-chung-khoan)\/([^/]+)/([^/]+)/([^/]+)/trang-([^/]+).chn</url>
			<rewrite>/pages/NewsList.aspx?cat_id=31&amp;day=$2&amp;month=$3&amp;year=$4&amp;pageindex=$5&amp;url=thi-truong-chung-khoan&amp;cat_name=Thị trường chứng khoán</rewrite>
		</rule>
		<rule name="Xem theo chuyen muc-bat-dong-san">
			<url>/(bat-dong-san)\.chn</url>
			<rewrite>/pages/NewsList.aspx?cat_id=35&amp;cat_name=Bất động sản&amp;url=bat-dong-san</rewrite>
		</rule>
		<rule name="Xem theo chuyen muc-bat-dong-san (co phan trang)">
			<url>/(bat-dong-san)\/trang-([^/]+).chn</url>
			<rewrite>/pages/NewsList.aspx?cat_id=35&amp;cat_name=Bất động sản&amp;url=bat-dong-san&amp;pageindex=$2</rewrite>
		</rule>
		<rule name="Xem theo chuyen muc-bat-dong-san (co phan trang; xem theo ngay,thang)">
			<url>/(bat-dong-san)\/([^/]+)/([^/]+)/([^/]+)/trang-([^/]+).chn</url>
			<rewrite>/pages/NewsList.aspx?cat_id=35&amp;day=$2&amp;month=$3&amp;year=$4&amp;pageindex=$5&amp;url=$1&amp;cat_name=Bất động sản</rewrite>
		</rule>
		<rule name="Xem theo chuyen tai-chinh-ngan-hang">
			<url>/(tai-chinh-ngan-hang)\.chn</url>
			<rewrite>/pages/NewsList.aspx?cat_id=34&amp;cat_name=Tài chính ngân hàng&amp;url=tai-chinh-ngan-hang</rewrite>
		</rule>
		<rule name="Xem theo chuyen tai-chinh-ngan-hang (co phan trang)">
			<url>/(tai-chinh-ngan-hang)\/trang-([^/]+).chn</url>
			<rewrite>/pages/NewsList.aspx?cat_id=34&amp;cat_name=Tài chính ngân hàng&amp;url=tai-chinh-ngan-hang&amp;pageindex=$2</rewrite>
		</rule>
		<rule name="Xem theo chuyen tai-chinh-ngan-hang (co phan trang; xem theo ngay,thang)">
			<url>/(tai-chinh-ngan-hang)\/([^/]+)/([^/]+)/([^/]+)/trang-([^/]+).chn</url>
			<rewrite>/pages/NewsList.aspx?cat_id=34&amp;day=$2&amp;month=$3&amp;year=$4&amp;pageindex=$5&amp;url=$1&amp;cat_name=Tài chính ngân hàng</rewrite>
		</rule>
		<rule name="Xem theo chuyen tai-chinh-quoc-te">
			<url>/(tai-chinh-quoc-te)\.chn</url>
			<rewrite>/pages/NewsList.aspx?cat_id=32&amp;cat_name=Tài chính quốc tế&amp;url=tai-chinh-quoc-te</rewrite>
		</rule>
		<rule name="Xem theo chuyen tai-chinh-quoc-te (co phan trang)">
			<url>/(tai-chinh-quoc-te)\/trang-([^/]+).chn</url>
			<rewrite>/pages/NewsList.aspx?cat_id=32&amp;cat_name=Tài chính quốc tế&amp;url=tai-chinh-quoc-te&amp;pageindex=$2</rewrite>
		</rule>
		<rule name="Xem theo chuyen tai-chinh-quoc-te (co phan trang; xem theo ngay,thang)">
			<url>/(tai-chinh-quoc-te)\/([^/]+)/([^/]+)/([^/]+)/trang-([^/]+).chn</url>
			<rewrite>/pages/NewsList.aspx?cat_id=32&amp;day=$2&amp;month=$3&amp;year=$4&amp;pageindex=$5&amp;url=$1&amp;cat_name=Tài chính quốc tế</rewrite>
		</rule>
		<rule name="Xem theo chuyen doanh-nghiep">
			<url>/(doanh-nghiep)\.chn</url>
			<rewrite>/pages/NewsList.aspx?cat_id=36&amp;cat_name=Doanh nghiệp&amp;url=doanh-nghiep</rewrite>
		</rule>
		<rule name="Xem theo chuyen doanh-nghiep (co phan trang)">
			<url>/(doanh-nghiep)\/trang-([^/]+).chn</url>
			<rewrite>/pages/NewsList.aspx?cat_id=36&amp;cat_name=Doanh nghiệp&amp;url=doanh-nghiep&amp;pageindex=$2</rewrite>
		</rule>
		<rule name="Xem theo chuyen doanh-nghiep (co phan trang; xem theo ngay,thang)">
			<url>/(doanh-nghiep)\/([^/]+)/([^/]+)/([^/]+)/trang-([^/]+).chn</url>
			<rewrite>/pages/NewsList.aspx?cat_id=36&amp;day=$2&amp;month=$3&amp;year=$4&amp;pageindex=$5&amp;url=$1&amp;cat_name=Doanh nghiệp</rewrite>
		</rule>
		<rule name="Xem theo chuyen kinh-te-dau-tu">
			<url>/(kinh-te-dau-tu)\.chn</url>
			<rewrite>/pages/NewsList.aspx?cat_id=33&amp;cat_name=Vĩ mô đầu tư&amp;url=vi-mo-dau-tu</rewrite>
		</rule>
		<rule name="Xem theo chuyen kinh-te-dau-tu (co phan trang)">
			<url>/(kinh-te-dau-tu)\/trang-([^/]+).chn</url>
			<rewrite>/pages/NewsList.aspx?cat_id=33&amp;cat_name=Vĩ mô đầu tư&amp;url=vi-mo-dau-tu&amp;pageindex=$2</rewrite>
		</rule>
		<rule name="Xem theo chuyen kinh-te-dau-tu (co phan trang; xem theo ngay,thang)">
			<url>/(kinh-te-dau-tu)\/([^/]+)/([^/]+)/([^/]+)/trang-([^/]+).chn</url>
			<rewrite>/pages/NewsList.aspx?cat_id=33&amp;day=$2&amp;month=$3&amp;year=$4&amp;pageindex=$5&amp;url=$1&amp;cat_name=Vĩ mô đầu tư</rewrite>
		</rule>

		<rule name="Xem theo chuyen vi-mo-dau-tu">
			<url>/(vi-mo-dau-tu)\.chn</url>
			<rewrite>/pages/NewsList.aspx?cat_id=33&amp;cat_name=Vĩ mô đầu tư&amp;url=vi-mo-dau-tu</rewrite>
		</rule>
		<rule name="Xem theo chuyen kinh-te-dau-tu (co phan trang)">
			<url>/(vi-mo-dau-tu)\/trang-([^/]+).chn</url>
			<rewrite>/pages/NewsList.aspx?cat_id=33&amp;cat_name=Vĩ mô đầu tư&amp;url=vi-mo-dau-tu&amp;pageindex=$2</rewrite>
		</rule>
		<rule name="Xem theo chuyen kinh-te-dau-tu (co phan trang; xem theo ngay,thang)">
			<url>/(vi-mo-dau-tu)\/([^/]+)/([^/]+)/([^/]+)/trang-([^/]+).chn</url>
			<rewrite>/pages/NewsList.aspx?cat_id=33&amp;day=$2&amp;month=$3&amp;year=$4&amp;pageindex=$5&amp;url=$1&amp;cat_name=Vĩ mô đầu tư</rewrite>
		</rule>

		<rule name="Xem theo chuyen vi-mo-dau-tu">
			<url>/(kinh-te-vi-mo-dau-tu)\.chn</url>
			<rewrite>/pages/NewsList.aspx?cat_id=33&amp;cat_name=Vĩ mô đầu tư&amp;url=vi-mo-dau-tu</rewrite>
		</rule>
		<rule name="Xem theo chuyen kinh-te-dau-tu (co phan trang)">
			<url>/(kinh-te-vi-mo-dau-tu)\/trang-([^/]+).chn</url>
			<rewrite>/pages/NewsList.aspx?cat_id=33&amp;cat_name=Vĩ mô đầu tư&amp;url=vi-mo-dau-tu&amp;pageindex=$2</rewrite>
		</rule>


		<rule name="Xem theo chuyen tai-chinh-quoc-te (co phan trang)">
			<url>/(thi-truong-hang-hoa)\/trang-([^/]+).chn</url>
			<rewrite>/pages/NewsList.aspx?cat_id=39&amp;cat_name=Hàng hóa nguyên liệu&amp;url=hang-hoa-nguyen-lieu&amp;pageindex=$2</rewrite>
		</rule>
		<rule name="Xem theo chuyen tai-chinh-quoc-te (co phan trang; xem theo ngay,thang)">
			<url>/(thi-truong-hang-hoa)\/([^/]+)/([^/]+)/([^/]+)/trang-([^/]+).chn</url>
			<rewrite>/NewsList.aspx?cat_id=39&amp;day=$2&amp;month=$3&amp;year=$4&amp;pageindex=$5&amp;url=$1&amp;cat_name=Hàng hóa nguyên liệu</rewrite>
		</rule>

		<rule name="Xem theo chuyen hang-hoa-nguyen-lieu">
			<url>/(hang-hoa-nguyen-lieu)\.chn</url>
			<rewrite>/pages/NewsList.aspx?cat_id=39&amp;cat_name=Hàng hóa nguyên liệu&amp;url=hang-hoa-nguyen-lieu</rewrite>
		</rule>
		<rule name="Xem theo chuyen hang-hoa-nguyen-lieu (co phan trang)">
			<url>/(hang-hoa-nguyen-lieu)\/trang-([^/]+).chn</url>
			<rewrite>/pages/NewsList.aspx?cat_id=39&amp;cat_name=Hàng hóa nguyên liệu&amp;url=hang-hoa-nguyen-lieu&amp;pageindex=$2</rewrite>
		</rule>
		<rule name="Xem theo chuyen hang-hoa-nguyen-lieu (co phan trang; xem theo ngay,thang)">
			<url>/(hang-hoa-nguyen-lieu)\/([^/]+)/([^/]+)/([^/]+)/trang-([^/]+).chn</url>
			<rewrite>/pages/NewsList.aspx?cat_id=39&amp;day=$2&amp;month=$3&amp;year=$4&amp;pageindex=$5&amp;url=$1&amp;cat_name=Hàng hóa nguyên liệu</rewrite>
		</rule>

		<rule name="Xem theo chuyen doanh-nhan">
			<url>/(doanh-nhan)\.chn</url>
			<rewrite>/pages/NewsList.aspx?cat_id=40&amp;cat_name=Doanh nhân&amp;url=doanh-nhan</rewrite>
		</rule>
		<rule name="Xem theo chuyen doanh-nhan (co phan trang)">
			<url>/(doanh-nhan)\/trang-([^/]+).chn</url>
			<rewrite>/pages/NewsList.aspx?cat_id=40&amp;cat_name=Doanh nhân&amp;url=doanh-nhan&amp;pageindex=$2</rewrite>
		</rule>
		<rule name="Xem theo chuyen doanh-nhan (co phan trang; xem theo ngay,thang)">
			<url>/(doanh-nhan)\/([^/]+)/([^/]+)/([^/]+)/trang-([^/]+).chn</url>
			<rewrite>/pages/NewsList.aspx?cat_id=40&amp;day=$2&amp;month=$3&amp;year=$4&amp;pageindex=$5&amp;url=doanh-nhan&amp;cat_name=Doanh nhân</rewrite>
		</rule>


		<rule name="Tin chi tiet">
			<url>/([0-9]+)CA([0-9]+)/([^/]+).chn</url>
			<rewrite>/pages/NewsContent.aspx?news_id=$1&amp;cat_id=$2&amp;page=3&amp;news_title=$3</rewrite>
		</rule>

		<rule name="Xem tat ca cac comment">
			<url>/y-kien-doc-gia\.chn</url>
			<rewrite>/pages/ykiendocgia.aspx?url=y-kien-doc-gia&amp;cat_id=1003</rewrite>
		</rule>
		<rule name="Xem tat ca cac comment">
			<url>/y-kien-doc-gia\/trang-([^/]+).chn</url>
			<rewrite>/pages/ykiendocgia.aspx?pageindex=$1&amp;url=y-kien-doc-gia&amp;cat_id=1003</rewrite>
		</rule>

		<rule name="Doc nhanh">
			<url>/doc-nhanh.chn</url>
			<rewrite>/pages/docnhanh.aspx?cat_id=1006</rewrite>
		</rule>
		<rule name="Doc nhanh">
			<url>/doc-nhanh/([0-9]+)/page-([0-9]+).chn</url>
			<rewrite>/pages/docnhanh.aspx?tab=$1&amp;pageindex=$2&amp;url=doc-nhanh&amp;cat_id=1006</rewrite>
		</rule>
		<rule name="Doc nhanh">
			<url>/doc-nhanh/([0-9]+)/trang-([0-9]+).chn</url>
			<rewrite>/pages/docnhanh.aspx?tab=$1&amp;pageindex=$2&amp;url=doc-nhanh&amp;cat_id=1006</rewrite>
		</rule>

		<rule name="hoi-nghi-hoi-thao">
			<url>/hoi-nghi-hoi-thao.chn</url>
			<rewrite>/pages/hoinghihoithao.aspx?url=hoi-nghi-hoi-thao&amp;cat_id=42</rewrite>
		</rule>
		<rule name="hoi-nghi-hoi-thao">
			<url>/hoi-nghi-hoi-thao\/trang-([^/]+).chn</url>
			<rewrite>/pages/hoinghihoithao.aspx?pageindex=$1&amp;url=hoi-nghi-hoi-thao&amp;cat_id=42</rewrite>
		</rule>

		<rule name="Login">
			<url>/Danh-muc-dau-tu/Dang-nhap\.chn</url>
			<rewrite>/pages/Login.aspx?TabRef=CafeF.Login&amp;cat_id=1001</rewrite>
		</rule>
		<rule name="register">
			<url>/Danh-muc-dau-tu/Dang-ky\.chn</url>
			<rewrite>/pages/Login.aspx?Tabref=CafeF.Login&amp;cpmode=reg&amp;cat_id=1001</rewrite>
		</rule>
		<rule name="RecoveryPassword">
			<url>/Danh-muc-dau-tu/RecoveryPassword\.chn</url>
			<rewrite>/pages/Login.aspx?Tabref=CafeF.Login&amp;cpmode=recpwd&amp;cat_id=1001</rewrite>
		</rule>
		<rule name="thay doi mat khau">
			<url>/thay-doi-mat-khau.chn</url>
			<rewrite>/pages/Login.aspx?tabref=CafeF.Login&amp;cpmode=chgpass&amp;cat_id=1001</rewrite>
		</rule>
		<rule name="portfolio">
			<url>/Danh-muc-dau-tu\.chn</url>
			<rewrite>/pages/portfoliomain.aspx?cat_id=1001</rewrite>
		</rule>
		<rule name="LaiLo">
			<url>/Danh-muc-dau-tu/[a-zA-Z0-9][\w-]{1,149}-(\d{1}).chn</url>
			<rewrite>/pages/portfoliomain.aspx?tabid=$1&amp;cat_id=1001</rewrite>
		</rule>

		<rule name="thong ke page">
			<url>/thong-ke/([^/-]+)/([0-9])/([0-9]+)/([0-9]+)/([0-9]+)/([0-9]+)/([0-9]+)/([0-9]+)/(desc|asc)/page-([0-9]+).chn</url>
			<rewrite>/CafeF.ThongKe/ThongKe.aspx?san=$1&amp;tab=$2&amp;date1=$3-$4-$5&amp;date2=$6-$7-$8&amp;order=$9&amp;page=$10&amp;cat_id=2010</rewrite>
		</rule>
		<rule name="thong ke">
			<url>/thong-ke/([^/-]+)/([0-9])/([0-9]+)/([0-9]+)/([0-9]+)/([0-9]+)/([0-9]+)/([0-9]+)/(desc|asc).chn</url>
			<rewrite>/CafeF.ThongKe/ThongKe.aspx?san=$1&amp;tab=$2&amp;date1=$3-$4-$5&amp;date2=$6-$7-$8&amp;order=$9&amp;cat_id=2010</rewrite>
		</rule>
		<rule name="thong ke page">
			<url>/thong-ke/([^/-]+)/([0-9])/([0-9]+)/([0-9]+)/([0-9]+)/([0-9]+)/([0-9]+)/([0-9]+)/page-([0-9]+).chn</url>
			<rewrite>/CafeF.ThongKe/ThongKe.aspx?san=$1&amp;tab=$2&amp;date1=$3-$4-$5&amp;date2=$6-$7-$8&amp;page=$9&amp;cat_id=2010</rewrite>
		</rule>
		<rule name="thong ke">
			<url>/thong-ke/([^/-]+)/([0-9])/([0-9]+)/([0-9]+)/([0-9]+)/([0-9]+)/([0-9]+)/([0-9]+).chn</url>
			<rewrite>/CafeF.ThongKe/ThongKe.aspx?san=$1&amp;tab=$2&amp;date1=$3-$4-$5&amp;date2=$6-$7-$8&amp;cat_id=2010</rewrite>
		</rule>
		<rule name="thong ke page">
			<url>/thong-ke/([^/-]+)/([0-9])/(desc|asc)/page-([0-9]+).chn</url>
			<rewrite>/CafeF.ThongKe/ThongKe.aspx?san=$1&amp;tab=$2&amp;order=$3&amp;page=$4&amp;cat_id=2010</rewrite>
		</rule>
		<rule name="thong ke page">
			<url>/thong-ke/([^/-]+)/([0-9])/(desc|asc).chn</url>
			<rewrite>/CafeF.ThongKe/ThongKe.aspx?san=$1&amp;tab=$2&amp;order=$3&amp;cat_id=2010</rewrite>
		</rule>
		<rule name="thong ke">
			<url>/thong-ke/([^/-]+)/([0-9])/page-([0-9]+).chn</url>
			<rewrite>/CafeF.ThongKe/ThongKe.aspx?san=$1&amp;tab=$2&amp;page=$3&amp;cat_id=2010</rewrite>
		</rule>
		<rule name="thong ke page">
			<url>/thong-ke/([^/-]+)/([0-9])/page-([0-9]+).chn</url>
			<rewrite>/CafeF.ThongKe/ThongKe.aspx?san=$1&amp;tab=$2&amp;page=$3&amp;cat_id=2010 </rewrite>
		</rule>
		<rule name="thong ke">
			<url>/thong-ke/([^/-]+)/([0-9]+).chn</url>
			<rewrite>/CafeF.ThongKe/ThongKe.aspx?san=$1&amp;tab=$2&amp;cat_id=2010</rewrite>
		</rule>
		<rule name="thong ke page">
			<url>/thong-ke/page-([0-9]+).chn</url>
			<rewrite>/CafeF.ThongKe/ThongKe.aspx?page=$1&amp;cat_id=2010</rewrite>
		</rule>
		<rule name="thong ke">
			<url>/thong-ke.chn</url>
			<rewrite>/CafeF.ThongKe/ThongKe.aspx?cat_id=2010</rewrite>
		</rule>
		<rule name="Phan trang lich su giao dich noi bo">
			<url>/Lich-su-giao-dich-([^/]*)-([^/]+).chn</url>
			<rewrite>/Tra_Cuu_Lich_Su_Giao_Dich.aspx?Symbol=$1&amp;Tab=$2&amp;cat_id=1115</rewrite>
		</rule>
		<rule name="Phan trang lich su giao dich noi bo">
			<url>/Lich-su-giao-dich-(Symbol|ALL)-(4)/Trang-([^/]+)-([^/]+)\.chn</url>
			<rewrite>/Tra_Cuu_Lich_Su_Giao_Dich.aspx?Symbol=$1&amp;page=$3&amp;ShareHolderId=$4&amp;Tab=4&amp;cat_id=1115</rewrite>
		</rule>
		<rule name="Phan trang lich su giao dich noi bo">
			<url>/Lich-su-giao-dich-Symbol-([^/]+)/Trang-([^/]+)-([^/]+)\.chn</url>
			<rewrite>/Tra_Cuu_Lich_Su_Giao_Dich.aspx?symbol=$1&amp;page=$2&amp;Tab=$3&amp;cat_id=1115</rewrite>
		</rule>
		<rule name="Phan trang lich su giao dich noi bo">
			<url>/Lich-su-giao-dich-([^/]+)-([^/]+)/Trang-([^/]+)-([^/]+)-tab-([^/]+)-d1-([^/]+)-d2-([^/]+)\.chn</url>
			<rewrite>/Tra_Cuu_Lich_Su_Giao_Dich.aspx?Symbol=$1&amp;page=$3&amp;ShareHolderId=$4&amp;Tab=$5&amp;d1=$6&amp;d2=$7&amp;cat_id=1115</rewrite>
		</rule>
		<rule name="Phan trang lich su giao dich noi bo">
			<url>/Lich-su-giao-dich-([^/]+)-([^/]+)/Trang-([^/]+)-([^/]+)-tab-([^/]+)\.chn</url>
			<rewrite>/Tra_Cuu_Lich_Su_Giao_Dich.aspx?Symbol=$1&amp;page=$3&amp;ShareHolderId=$4&amp;Tab=$5&amp;cat_id=1115</rewrite>
		</rule>
		<rule name="Phan trang lich su giao dich noi bo">
			<url>/Lich-su-giao-dich-([^/]+)-([^/]+)/Trang-([^/]+)-([^/]+)\.chn</url>
			<rewrite>/Tra_Cuu_Lich_Su_Giao_Dich.aspx?Symbol=$1&amp;page=$3&amp;ShareHolderId=$4&amp;Tab=$2&amp;cat_id=1115</rewrite>
		</rule>
		<!--<rule name="Phan trang lich su giao dich noi bo">
			<url>/Lich-su-giao-dich-Symbol-([^/]+)/Trang-([^/]+)-([^/]+)-tab-([^/]+)-d1-([^/]+)-d2-([^/]+)\.chn</url>
			<rewrite>/Tra_Cuu_Lich_Su_Giao_Dich.aspx?Symbol=$1&amp;page=$2&amp;ShareHolderId=$3&amp;Tab=$4&amp;d1=$5&amp;d2=$6&amp;cat_id=1115</rewrite>
		</rule>-->
		<!-- Thong tin cong ty -->

		<rule name="Tra cuu lich su 2(tab, san, date)">
			<url>/tracuulichsu2/([0-9]+)/([^/-]+)/([0-9]+)/([0-9]+)/([0-9]+).chn</url>
			<rewrite>/TraCuuLichSu2/TraCuu.aspx?tab=$1&amp;CateId=1&amp;san=$2&amp;cat_id=1115&amp;date=$3/$4/$5/</rewrite>
		</rule>
		<rule name="Hien tat ca cac tin doanh nghiep theo luong chon tu cac box">
			<url>/tin-doanh-nghiep/([^/]+)/([0-9]+)/event.chn</url>
			<rewrite>/TinDoanhNghiep.aspx?eventmode=List&amp;symbol=$1&amp;configID=$2&amp;cat_id=1008</rewrite>
		</rule>
		<rule name="Hien tat ca cac tin doanh nghiep theo luong chon tu cac box">
			<url>/tin-doanh-nghiep/([^/]+)/([0-9]+)/event/trang-(([0-9]+)).chn</url>
			<rewrite>/TinDoanhNghiep.aspx?eventmode=List&amp;symbol=$1&amp;configID=$2&amp;page=$3&amp;cat_id=1008</rewrite>
		</rule>
		<rule name="Hien tat ca cac tin doanh nghiep theo luong chon tu cac box">
			<url>/Tin-doanh-nghiep\.chn</url>
			<rewrite>/TinDoanhNghiep.aspx?eventmode=List&amp;cat_id=1008</rewrite>
		</rule>
		<rule name="Tin doanh nghiep">
			<url>Tin-doanh-nghiep/([0-9]+)/event.chn</url>
			<rewrite>/TinDoanhNghiep.aspx?symbol=$1&amp;configID=$2&amp;cat_id=1008</rewrite>
		</rule>
		<rule name="Tin doanh nghiep">
			<url>Tin-doanh-nghiep/([0-9]+)/event/trang-([0-9]+).chn</url>
			<rewrite>/TinDoanhNghiep.aspx?configID=$1&amp;cat_id=1008&amp;page=$2</rewrite>
		</rule>
		<rule name="Tin doanh nghiep">
			<url>Tin-doanh-nghiep/([^/-]+)/event.chn</url>
			<rewrite>/TinDoanhNghiep.aspx?symbol=$1&amp;cat_id=1008</rewrite>
		</rule>
		<rule name="Tin doanh nghiep">
			<url>Tin-doanh-nghiep/([^/-]+)/event/trang-([0-9]+).chn</url>
			<rewrite>/TinDoanhNghiep.aspx?symbol=$1&amp;cat_id=1008&amp;page=$2</rewrite>
		</rule>
		<rule name="EventDetail (Co StockSymbol)">
			<url>/([a-zA-Z0-9][\w-]{1,149})-(\d{1,})\/[a-zA-Z0-9.][\w-]{1,149}\.chn</url>
			<rewrite>/TinDoanhNghiepChiTiet.aspx?eventmode=detail&amp;NewsId=$2&amp;Symbol=$1&amp;cat_id=1008</rewrite>
		</rule>
		<rule name="tracuu2">
			<url>/TraCuuLichSu2/TraCuu\.chn</url>
			<rewrite>/TraCuuLichSu2/TraCuu.aspx?tab=1&amp;CateId=1&amp;cat_id=1115</rewrite>
		</rule>

		<rule name="Chi tiet thong tin cong ty">
			<url>/(hose|hastc|hnx|hsx|upcom|otc)/([^/-]+)-.chn</url>
			<rewrite>/DuLieu.aspx?symbol=$2&amp;cat_id=1009</rewrite>
		</rule>
		<rule name="Chi tiet thong tin cong ty">
			<url>/(hose|hastc|hnx|hsx|upcom|otc)/([^/-]+)-([^/]+).chn</url>
			<rewrite>/DuLieu.aspx?symbol=$2&amp;cat_id=1009</rewrite>
		</rule>
		<rule name="Chi tiet thong tin cong ty">
			<url>/(hose|hastc|hnx|hsx|upcom|otc)/([^/-]+).chn</url>
			<rewrite>/DuLieu.aspx?symbol=$2&amp;cat_id=1009</rewrite>
		</rule>
		<rule name="Chi tiet thong tin cong ty (Updated on 2008Aug26)">
			<url>/(hose|hastc|hnx|hsx|upcom|otc)/thong-tin-tai-chinh/([^/-]+)-([^/]+).chn</url>
			<rewrite>/DuLieu.aspx?symbol=$2&amp;san=$1&amp;tabid=1&amp;Ten=$3&amp;CateId=1001&amp;cat_id=1009</rewrite>
		</rule>
		<rule name="Chi tiet thong tin cong ty (Updated on 2008Aug26)">
			<url>/(hose|hastc|hnx|hsx|upcom|otc)/thong-tin-chung/([^/-]+)-([^/]+).chn</url>
			<rewrite>/DuLieu.aspx?symbol=$2&amp;san=$1&amp;tabid=2&amp;Ten=$3&amp;CateId=1001&amp;cat_id=1009</rewrite>
		</rule>

		<rule name="Chi tiet thong tin cong ty (Updated on 2008Aug26)">
			<url>/(hose|hastc|hnx|hsx|upcom|otc)/ban-lanh-dao/([^/-]+)-([^/]+).chn</url>
			<rewrite>/DuLieu.aspx?symbol=$2&amp;san=$1&amp;tabid=3&amp;Ten=$3&amp;CateId=1001&amp;cat_id=1009</rewrite>
		</rule>
		<rule name="Chi tiet thong tin cong ty (Updated on 2008Aug26)">
			<url>/(hose|hastc|hnx|hsx|upcom|otc)/ban-lanh-dao-(co-dong)/([^/-]+)-([^/]+).chn</url>
			<rewrite>/DuLieu.aspx?symbol=$3&amp;san=$1&amp;tabid=3&amp;Ten=$4&amp;Tab=CD&amp;CateId=1001&amp;cat_id=1009</rewrite>
		</rule>
		<rule name="Chi tiet thong tin cong ty (Updated on 2008Aug26)">
			<url>/(hose|hastc|hnx|hsx|upcom|otc)/bao-cao-tai-chinh/([^/-]+)-([^/]+).chn</url>
			<rewrite>/DuLieu.aspx?symbol=$2&amp;san=$1&amp;tabid=5&amp;Ten=$3&amp;CateId=1001&amp;cat_id=1009</rewrite>
		</rule>
		<rule name="Chi tiet thong tin cong ty -cong ty con">
			<url>/(hose|hastc|hnx|hsx|upcom|otc)/(cong-ty-con)/([^/-]+)-([^/]+).chn</url>
			<rewrite>/DuLieu.aspx?symbol=$3&amp;san=$1&amp;tabid=4&amp;Ten=$4&amp;Tab=$2&amp;CateId=1001&amp;cat_id=1009</rewrite>
		</rule>
		<rule name="Chi tiet thong tin cong ty -cong ty lien ket">
			<url>/(hose|hastc|hnx|hsx|upcom|otc)/(cong-ty-lien-ket)/([^/-]+)-([^/]+).chn</url>
			<rewrite>/DuLieu.aspx?symbol=$3&amp;san=$1&amp;tabid=4&amp;Ten=$4&amp;Tab=$2&amp;CateId=1001&amp;cat_id=1009</rewrite>
		</rule>
		<!-- version 2 -->
		<rule name="Chi tiet thong tin cong ty (Updated on 2008Aug26)">
			<url>/(hose|hastc|hnx|hsx|upcom|otc)/([^/-]+)/thong-tin-tai-chinh.chn</url>
			<rewrite>/DuLieu.aspx?symbol=$2&amp;san=$1&amp;tabid=1&amp;CateId=1001&amp;cat_id=1009</rewrite>
		</rule>
		<rule name="Chi tiet thong tin cong ty (Updated on 2008Aug26)">
			<url>/(hose|hastc|hnx|hsx|upcom|otc)/([^/-]+)/thong-tin-chung.chn</url>
			<rewrite>/DuLieu.aspx?symbol=$2&amp;san=$1&amp;tabid=2&amp;CateId=1001&amp;cat_id=1009</rewrite>
		</rule>

		<rule name="Chi tiet thong tin cong ty (Updated on 2008Aug26)">
			<url>/(hose|hastc|hnx|hsx|upcom|otc)/([^/-]+)/(ban-lanh-dao|co-dong-lon).chn</url>
			<rewrite>/DuLieu.aspx?symbol=$2&amp;san=$1&amp;tabid=3&amp;Tab=$3&amp;CateId=1001&amp;cat_id=1009</rewrite>
		</rule>
		<rule name="Chi tiet thong tin cong ty (Updated on 2008Aug26)">
			<url>/(hose|hastc|hnx|hsx|upcom|otc)/([^/-]+)/bao-cao-tai-chinh.chn</url>
			<rewrite>/DuLieu.aspx?symbol=$2&amp;san=$1&amp;tabid=5&amp;CateId=1001&amp;cat_id=1009</rewrite>
		</rule>
		<rule name="Chi tiet thong tin cong ty -cong ty con">
			<url>/(hose|hastc|hnx|hsx|upcom|otc)/([^/-]+)/(cong-ty-con|cong-ty-lien-ket).chn</url>
			<rewrite>/DuLieu.aspx?symbol=$2&amp;san=$1&amp;tabid=4&amp;Tab=$3&amp;CateId=1001&amp;cat_id=1009</rewrite>
		</rule>
		
		<rule name="Lich su kien">
			<url>/su-kien/([0-9]+)-([^/]+).chn</url>
			<rewrite>/pages/sukien.aspx?threadid=$1&amp;pageindex=1&amp;cat_id=1004</rewrite>
		</rule>
		<rule name="Lich su kien">
			<url>/su-kien/([0-9]+)-([^/]+)/trang-([0-9]+).chn</url>
			<rewrite>/pages/sukien.aspx?threadid=$1&amp;pageindex=$3&amp;cat_id=1004</rewrite>
		</rule>

		<rule name="Lich su kien">
			<url>/lich-su-kien.chn</url>
			<rewrite>/lichsukien.aspx?cat_id=1010</rewrite>
		</rule>
		<rule name="Thi truong niem yet">
			<url>/du-lieu\.chn</url>
			<rewrite>/KenhF.aspx?CateId=1000&amp;cat_id=1005</rewrite>
		</rule>
		<rule name="Su kien tai chinh">
			<url>/dong-su-kien-sk([0-9]+)/([^/]+)\.chn</url>
			<rewrite>/pages/sukien.aspx?ThreadID=$1&amp;pageindex=1&amp;cat_id=1004</rewrite>
		</rule>
		<rule name="Su kien tai chinh">
			<url>/dong-su-kien-sk([0-9]+)/([^/]+)/Trang-([0-9]+).chn</url>
			<rewrite>/pages/sukien.aspx?ThreadID=$1&amp;pageindex=$3&amp;cat_id=1004</rewrite>
		</rule>
		<rule name="Eps chart">
			<url>/Thi-truong-niem-yet/Bieu-do-ky-thuat/EPS-([a-zA-Z0-9][\w-]{1,149})-(\d{1}).chn</url>
			<rewrite>/CafeF-Tools/Eps_chart/eps_chart.aspx?symbol=$1&amp;tradeCenter=$2&amp;cat_id=1009</rewrite>
		</rule>
		<rule name="HDSD">
			<url>/huong-dan-su-dung.chn</url>
			<rewrite>/ScreenerHelper.aspx</rewrite>
		</rule>
		<rule name="phan tich bao cao">
			<url>/phan-tich-bao-cao\.chn</url>
			<rewrite>/ReportList.aspx?cat_id=1011</rewrite>
		</rule>
		<rule name="phan tich bao cao">
			<url>/phan-tich-bao-cao([0-9]+)\.chn</url>
			<rewrite>/ReportList.aspx?id=$1&amp;cat_id=1011</rewrite>
		</rule>

		<rule name="portfolio">
			<url>/Danh-muc-dau-tu\.chn</url>
			<rewrite>/pages/portfoliomain.aspx?cat_id=1001</rewrite>
		</rule>
		<rule name="LaiLo">
			<url>/Danh-muc-dau-tu/[a-zA-Z0-9][\w-]{1,149}-(\d{1}).chn</url>
			<rewrite>/pages/portfoliomain.aspx?tabid=$1&amp;cat_id=1001</rewrite>
		</rule>
		<rule name="Tin doanh nghiep">
			<url>/tin-doanh-nghiep.chn</url>
			<rewrite>/tindoanhnghiep.aspx?cat_id=1008</rewrite>
		</rule>
		<rule name="Chi tiet thong tin cong ty">
			<url>/Thi-truong-niem-yet/Thong-tin-cong-ty/([a-zA-Z0-9]{1,})\.chn</url>
			<rewrite>/DuLieu.aspx?symbol=$1&amp;CateId=1001&amp;cat_id=1009</rewrite>
		</rule>
    <!--CEO-->
    <rule name="Ceo">
      <url>/ceo/([^/]+)/([^/]+).chn</url>
      <rewrite>/ceo.aspx?ceocode=$1</rewrite>
    </rule>
		
		<!-- mobile -->
		<rule name="Chi tiet thong tin cong ty -cong ty con">
			<url>/tra-cuu/([^/-]+).chn</url>
			<rewrite>/DuLieu.aspx?symbol=$1&amp;cat_id=1009</rewrite>
		</rule>
		<rule name="Chi tiet thong tin cong ty -cong ty con">
			<url>/tra-cuu.chn</url>
			<rewrite>/KenhF.aspx?cat_id=1005</rewrite>
		</rule>
		<rule name="Lịch sử giá">
			<url>/lich-su-gia.chn</url>
			<rewrite>/Tra_Cuu_Lich_Su_Giao_Dich.aspx?Symbol=&amp;Tab=1&amp;cat_id=1115</rewrite>
		</rule>
		<rule name="Lịch sử giá">
			<url>/lich-su-gia/([^/]+).chn</url>
			<rewrite>/Tra_Cuu_Lich_Su_Giao_Dich.aspx?Symbol=$1&amp;Tab=1&amp;cat_id=1115</rewrite>
		</rule>
		<rule name="Lịch sử giá">
			<url>/lich-su-gia/([^/]+)/([^/]+).chn</url>
			<rewrite>/Tra_Cuu_Lich_Su_Giao_Dich.aspx?Symbol=$1&amp;Tab=1&amp;cat_id=1115</rewrite>
		</rule>
		<rule name="tin doanh nghiep">
			<url>/tin-doanh-nghiep/trang-([0-9]+).chn</url>
			<rewrite>/tindoanhnghiep.aspx?page=$1&amp;cat_id=1008</rewrite>
		</rule>
		<rule name="tin doanh nghiep">
			<url>/tin-doanh-nghiep-list/trang-([0-9]+).chn</url>
			<rewrite>/tindoanhnghiep.aspx?page=$1&amp;cat_id=1008</rewrite>
		</rule>

    <!--Dulieuvimo-->
    <rule name="gdp">
      <url>/dulieuvimo/gdp.chn</url>
      <rewrite>/DuLieuViMo.aspx?dlvmtype=gdp</rewrite>
    </rule>
    <rule name="san luong cong nghiep">
      <url>/dulieuvimo/san-luong-cong-nghiep.chn</url>
      <rewrite>/DuLieuViMo.aspx?dlvmtype=slcn</rewrite>
    </rule>
    <rule name="tong muc ban le">
      <url>/dulieuvimo/tong-muc-ban-le.chn</url>
      <rewrite>/DuLieuViMo.aspx?dlvmtype=tmbl</rewrite>
    </rule>
    <rule name="cpi sau 11 2009">
      <url>/dulieuvimo/cpi-sau-11-2009.chn</url>
      <rewrite>/DuLieuViMo.aspx?dlvmtype=cpisau</rewrite>
    </rule>
    <rule name="cpi truoc 11 2009">
      <url>/dulieuvimo/cpi-truoc-11-2009.chn</url>
      <rewrite>/DuLieuViMo.aspx?dlvmtype=cpitruoc</rewrite>
    </rule>
    <rule name="xuat nhap khau">
      <url>/dulieuvimo/xuat-nhap-khau.chn</url>
      <rewrite>/DuLieuViMo.aspx?dlvmtype=xnk</rewrite>
    </rule>
    <rule name="fdi">
      <url>/dulieuvimo/fdi.chn</url>
      <rewrite>/DuLieuViMo.aspx?dlvmtype=fdi</rewrite>
    </rule>
    <rule name="dau tu tu nsnn">
      <url>/dulieuvimo/dau-tu-tu-nsnn.chn</url>
      <rewrite>/DuLieuViMo.aspx?dlvmtype=dttnsnn</rewrite>
    </rule>
		
		<rule name="tiendo bds">
			<url>/tiendobds/([^/]+).chn</url>
			<rewrite>/TienDoBDS.aspx?Symbol=$1</rewrite>
		</rule>
		<rule name="tiendo bds">
			<url>/tiendobds/([^/]+)/trang-([0-9]+).chn</url>
			<rewrite>/TienDoBDS.aspx?Symbol=$1&amp;pageidx=$2</rewrite>
		</rule>
		<rule name="tiendo bds">
			<url>/([^/]+)/([^/]+)/tien-do-bds.chn</url>
			<rewrite>/TienDoBDS.aspx?Symbol=$2</rewrite>
		</rule>
		<rule name="tiendo bds">
			<url>/([^/]+)/([^/]+)/tien-do-bds/trang-([0-9]+).chn</url>
			<rewrite>/TienDoBDS.aspx?Symbol=$2&amp;pageidx=$3</rewrite>
		</rule>

	</rules>
</urlrewrites>