<?xml version="1.0"?>
<configuration>
	<AllowDomains>
		<!-- Test only -->
		<AllowDomain domain="*">
			<handler key="News_baamboo" assembly="CafeF_EmbedData.Handlers.NewsHandler" method="GetTinTaiChinhSuKien_BTVChon" params="" cache="0" AllowRequestKey=""></handler>

			<handler key="ACBGoldMarket" assembly="CafeF_EmbedData.Handlers.GoldMarketHandler" method="GetACBGoldMarketData" params="" cache="60" AllowRequestKey=""></handler>
			<handler key="GoldMarket" assembly="CafeF_EmbedData.Handlers.GoldMarketHandler" method="GetGoldMarketData" params="" cache="60" AllowRequestKey=""></handler>
			<!--<handler key="MarketSymmary" assembly="CafeF_EmbedData.Handlers.MarketHandler" method="GetStockMarketSummary" params="" cache="60" AllowRequestKey=""></handler>
			<handler key="ThoiTietAndTiGia" assembly="CafeF_EmbedData.Handlers.DanTri_ThoiTiet" method="GetThoiTietAndTiGia" params="" cache="3600" AllowRequestKey=""></handler>-->
			<handler key="MarketSymmary" assembly="CafeF_EmbedData.Handlers.MarketHandler" method="GetStockMarketSummary" params="" cache="60" AllowRequestKey=""></handler>
			<handler key="ThoiTietAndTiGia" assembly="CafeF_EmbedData.Handlers.DanTri_ThoiTiet" method="GetThoiTietAndTiGia" params="" cache="3600" AllowRequestKey=""></handler>

			<handler key="CompanyInfo" assembly="CafeF_EmbedData.Handlers.MarketHandler" method="GetCompanyInfo" params="" cache="600" AllowRequestKey=""></handler>
			<handler key="TopStockSymbol" assembly="CafeF_EmbedData.Handlers.MarketHandler" method="GetTopSymbol" params="'totalTradingQtty','currentPrice','chgIndex','pctIndex'" cache="60" AllowRequestKey=""></handler>
			<handler key="AllStockSymbol" assembly="CafeF_EmbedData.Handlers.MarketHandler" method="GetAllStockSymbol" params="'basicPrice','currentPrice','chgIndex','totalTradingQtty','adjustQtty'" cache="60" AllowRequestKey=""></handler>

			<handler key="PriceBoardData" assembly="CafeF_EmbedData.Handlers.MarketHandler" method="GetPriceBoardData" params="" cache="60" AllowRequestKey=""></handler>
		</AllowDomain>

		<!-- ==================== -->
		<AllowDomain domain="admin.cafef.channelvn.net">
			<handler key="TopStockSymbolForCMS" assembly="CafeF_EmbedData.Handlers.MarketHandler" method="GetTopSymbolForCMS" params="'totalTradingQtty','currentPrice','chgIndex','pctIndex','extentValue'" cache="30" AllowRequestKey=""></handler>
		</AllowDomain>
		<AllowDomain domain="admin.cafef.vn">
			<handler key="TopStockSymbolForCMS" assembly="CafeF_EmbedData.Handlers.MarketHandler" method="GetTopSymbolForCMS" params="'totalTradingQtty','currentPrice','chgIndex','pctIndex','extentValue'" cache="30" AllowRequestKey=""></handler>
		</AllowDomain>
		<!-- cafef.vn -->
		<AllowDomain domain="cafef.vn" >
			<handler key="TopStockSymbol" assembly="CafeF_EmbedData.Handlers.MarketHandler" method="GetTopSymbol" params="'totalTradingQtty','currentPrice','chgIndex','pctIndex'" cache="60" AllowRequestKey=""></handler>
			<handler key="StockSymbolSlide" assembly="CafeF_EmbedData.Handlers.MarketHandler" method="GetStockSymbolBySymbolList" params="'currentPrice','chgIndex','pctIndex'" cache="60" AllowRequestKey=""></handler>
			<handler key="AllStockSymbol" assembly="CafeF_EmbedData.Handlers.MarketHandler" method="GetAllStockSymbol" params="'basicPrice','currentPrice','chgIndex','totalTradingQtty','adjustQtty'" cache="60" AllowRequestKey=""></handler>
			<handler key="TopFinanceStatement" assembly="CafeF_EmbedData.Handlers.MarketHandler" method="GetTopFinanceStatementData" params="" cache="60" AllowRequestKey=""></handler>
			<handler key="CompanyInfo" assembly="CafeF_EmbedData.Handlers.MarketHandler" method="GetCompanyInfo" params="" cache="600" AllowRequestKey=""></handler>

			<handler key="ACBGoldMarket" assembly="CafeF_EmbedData.Handlers.GoldMarketHandler" method="GetACBGoldMarketData" params="" cache="0" AllowRequestKey=""></handler>
			<handler key="MarketSymmary" assembly="CafeF_EmbedData.Handlers.MarketHandler" method="GetStockMarketSummary" params="" cache="1" AllowRequestKey=""></handler>

			<handler key="EquivalentEPS" assembly="CafeF_EmbedData.Handlers.MarketHandler" method="GetRelatedCompany" params="'EquivalentEPS'" cache="600" AllowRequestKey=""></handler>
			<handler key="EquivalentPE" assembly="CafeF_EmbedData.Handlers.MarketHandler" method="GetRelatedCompany" params="'EquivalentPE'" cache="60" AllowRequestKey=""></handler>
			<handler key="SameIndustry" assembly="CafeF_EmbedData.Handlers.MarketHandler" method="GetRelatedCompany" params="'SameIndustry'" cache="600" AllowRequestKey=""></handler>

			<handler key="ExchangeRate" assembly="CafeF_EmbedData.Handlers.ExchangeHandler" method="GetExchangeData" params="" cache="3600" AllowRequestKey=""></handler>
			<handler key="GoldMarket" assembly="CafeF_EmbedData.Handlers.GoldMarketHandler" method="GetGoldMarketData" params="" cache="3600" AllowRequestKey=""></handler>

			<handler key="FavoriteNews" assembly="CafeF_EmbedData.Handlers.FavoriteNewsHandler" method="GetTopFavoriteNews" params="5" cache="0" AllowRequestKey=""></handler>
		</AllowDomain>
		<AllowDomain domain="beta.cafef.vn">
			<handler key="TopStockSymbol" assembly="CafeF_EmbedData.Handlers.MarketHandler" method="GetTopSymbol" params="'totalTradingQtty','currentPrice','chgIndex','pctIndex'" cache="60" AllowRequestKey=""></handler>
			<handler key="StockSymbolSlide" assembly="CafeF_EmbedData.Handlers.MarketHandler" method="GetStockSymbolBySymbolList" params="'currentPrice','chgIndex','pctIndex'" cache="60" AllowRequestKey=""></handler>
			<handler key="AllStockSymbol" assembly="CafeF_EmbedData.Handlers.MarketHandler" method="GetAllStockSymbol" params="'basicPrice','currentPrice','chgIndex','totalTradingQtty','adjustQtty'" cache="60" AllowRequestKey=""></handler>
			<handler key="TopFinanceStatement" assembly="CafeF_EmbedData.Handlers.MarketHandler" method="GetTopFinanceStatementData" params="" cache="60" AllowRequestKey=""></handler>
			<handler key="CompanyInfo" assembly="CafeF_EmbedData.Handlers.MarketHandler" method="GetCompanyInfo" params="" cache="600" AllowRequestKey=""></handler>

			<handler key="ACBGoldMarket" assembly="CafeF_EmbedData.Handlers.GoldMarketHandler" method="GetACBGoldMarketData" params="" cache="0" AllowRequestKey=""></handler>
			<handler key="MarketSymmary" assembly="CafeF_EmbedData.Handlers.MarketHandler" method="GetStockMarketSummary" params="" cache="1" AllowRequestKey=""></handler>

			<handler key="EquivalentEPS" assembly="CafeF_EmbedData.Handlers.MarketHandler" method="GetRelatedCompany" params="'EquivalentEPS'" cache="600" AllowRequestKey=""></handler>
			<handler key="EquivalentPE" assembly="CafeF_EmbedData.Handlers.MarketHandler" method="GetRelatedCompany" params="'EquivalentPE'" cache="60" AllowRequestKey=""></handler>
			<handler key="SameIndustry" assembly="CafeF_EmbedData.Handlers.MarketHandler" method="GetRelatedCompany" params="'SameIndustry'" cache="600" AllowRequestKey=""></handler>

			<handler key="ExchangeRate" assembly="CafeF_EmbedData.Handlers.ExchangeHandler" method="GetExchangeData" params="" cache="3600" AllowRequestKey=""></handler>
			<handler key="GoldMarket" assembly="CafeF_EmbedData.Handlers.GoldMarketHandler" method="GetGoldMarketData" params="" cache="3600" AllowRequestKey=""></handler>

			<handler key="FavoriteNews" assembly="CafeF_EmbedData.Handlers.FavoriteNewsHandler" method="GetTopFavoriteNews" params="5" cache="0" AllowRequestKey=""></handler>
		</AllowDomain>
		<AllowDomain domain="admin1.cafef.channelvn.net">
			<handler key="TopStockSymbol" assembly="CafeF_EmbedData.Handlers.MarketHandler" method="GetTopSymbol" params="'totalTradingQtty','currentPrice','chgIndex','pctIndex'" cache="0" AllowRequestKey=""></handler>
			<handler key="StockSymbolSlide" assembly="CafeF_EmbedData.Handlers.MarketHandler" method="GetStockSymbolBySymbolList" params="'currentPrice','chgIndex','pctIndex'" cache="0" AllowRequestKey=""></handler>
			<handler key="AllStockSymbol" assembly="CafeF_EmbedData.Handlers.MarketHandler" method="GetAllStockSymbol" params="'basicPrice','currentPrice','chgIndex','totalTradingQtty'" cache="0" AllowRequestKey=""></handler>
			<handler key="TopFinanceStatement" assembly="CafeF_EmbedData.Handlers.MarketHandler" method="GetTopFinanceStatementData" params="" cache="0" AllowRequestKey=""></handler>
			<handler key="CompanyInfo" assembly="CafeF_EmbedData.Handlers.MarketHandler" method="GetCompanyInfo" params="" cache="0" AllowRequestKey=""></handler>

			<handler key="ACBGoldMarket" assembly="CafeF_EmbedData.Handlers.GoldMarketHandler" method="GetACBGoldMarketData" params="" cache="0" AllowRequestKey=""></handler>
			<handler key="MarketSymmary" assembly="CafeF_EmbedData.Handlers.MarketHandler" method="GetStockMarketSummary" params="" cache="0" AllowRequestKey=""></handler>

			<handler key="EquivalentEPS" assembly="CafeF_EmbedData.Handlers.MarketHandler" method="GetRelatedCompany" params="'EquivalentEPS'" cache="0" AllowRequestKey=""></handler>
			<handler key="EquivalentPE" assembly="CafeF_EmbedData.Handlers.MarketHandler" method="GetRelatedCompany" params="'EquivalentPE'" cache="0" AllowRequestKey=""></handler>
			<handler key="SameIndustry" assembly="CafeF_EmbedData.Handlers.MarketHandler" method="GetRelatedCompany" params="'SameIndustry'" cache="0" AllowRequestKey=""></handler>

			<handler key="ExchangeRate" assembly="CafeF_EmbedData.Handlers.ExchangeHandler" method="GetExchangeData" params="" cache="0" AllowRequestKey=""></handler>
			<handler key="GoldMarket" assembly="CafeF_EmbedData.Handlers.GoldMarketHandler" method="GetGoldMarketData" params="" cache="0" AllowRequestKey=""></handler>

			<handler key="FavoriteNews" assembly="CafeF_EmbedData.Handlers.FavoriteNewsHandler" method="GetTopFavoriteNews" params="5" cache="0" AllowRequestKey=""></handler>
		</AllowDomain>
		<AllowDomain domain="222.255.24.149">
			<handler key="TopStockSymbol" assembly="CafeF_EmbedData.Handlers.MarketHandler" method="GetTopSymbol" params="'totalTradingQtty','currentPrice','chgIndex','pctIndex'" cache="60" AllowRequestKey=""></handler>
			<handler key="StockSymbolSlide" assembly="CafeF_EmbedData.Handlers.MarketHandler" method="GetStockSymbolBySymbolList" params="'currentPrice','chgIndex','pctIndex'" cache="60" AllowRequestKey=""></handler>
			<handler key="AllStockSymbol" assembly="CafeF_EmbedData.Handlers.MarketHandler" method="GetAllStockSymbol" params="'basicPrice','currentPrice','chgIndex','totalTradingQtty','adjustQtty'" cache="60" AllowRequestKey=""></handler>
			<handler key="TopFinanceStatement" assembly="CafeF_EmbedData.Handlers.MarketHandler" method="GetTopFinanceStatementData" params="" cache="60" AllowRequestKey=""></handler>
			<handler key="CompanyInfo" assembly="CafeF_EmbedData.Handlers.MarketHandler" method="GetCompanyInfo" params="" cache="600" AllowRequestKey=""></handler>

			<handler key="ACBGoldMarket" assembly="CafeF_EmbedData.Handlers.GoldMarketHandler" method="GetACBGoldMarketData" params="" cache="0" AllowRequestKey=""></handler>
			<handler key="MarketSymmary" assembly="CafeF_EmbedData.Handlers.MarketHandler" method="GetStockMarketSummary" params="" cache="1" AllowRequestKey=""></handler>

			<handler key="EquivalentEPS" assembly="CafeF_EmbedData.Handlers.MarketHandler" method="GetRelatedCompany" params="'EquivalentEPS'" cache="600" AllowRequestKey=""></handler>
			<handler key="EquivalentPE" assembly="CafeF_EmbedData.Handlers.MarketHandler" method="GetRelatedCompany" params="'EquivalentPE'" cache="60" AllowRequestKey=""></handler>
			<handler key="SameIndustry" assembly="CafeF_EmbedData.Handlers.MarketHandler" method="GetRelatedCompany" params="'SameIndustry'" cache="600" AllowRequestKey=""></handler>

			<handler key="ExchangeRate" assembly="CafeF_EmbedData.Handlers.ExchangeHandler" method="GetExchangeData" params="" cache="3600" AllowRequestKey=""></handler>
			<handler key="GoldMarket" assembly="CafeF_EmbedData.Handlers.GoldMarketHandler" method="GetGoldMarketData" params="" cache="3600" AllowRequestKey=""></handler>

			<handler key="FavoriteNews" assembly="CafeF_EmbedData.Handlers.FavoriteNewsHandler" method="GetTopFavoriteNews" params="5" cache="0" AllowRequestKey=""></handler>
		</AllowDomain>


		<!-- beta.nld.com.vn -->
		<AllowDomain domain="beta.nld.com.vn">
			<handler key="ExchangeData" assembly="CafeF_EmbedData.Handlers.ExchangeHandler" method="GetExchangeData" params="" cache="60" AllowRequestKey=""></handler>
			<handler key="GoldMarket" assembly="CafeF_EmbedData.Handlers.GoldMarketHandler" method="GetGoldMarketData" params="" cache="60" AllowRequestKey=""></handler>
			<handler key="MarketSymmary" assembly="CafeF_EmbedData.Handlers.MarketHandler" method="GetStockMarketSummary" params="" cache="60" AllowRequestKey=""></handler>
			<handler key="ThoiTietAndTiGia" assembly="CafeF_EmbedData.Handlers.DanTri_ThoiTiet" method="GetThoiTietAndTiGia" params="" cache="3600" AllowRequestKey=""></handler>
		</AllowDomain>
		<!-- nld.com.vn -->
		<AllowDomain domain="nld.com.vn">
			<handler key="ExchangeData" assembly="CafeF_EmbedData.Handlers.ExchangeHandler" method="GetExchangeData" params="" cache="60" AllowRequestKey=""></handler>
			<handler key="GoldMarket" assembly="CafeF_EmbedData.Handlers.GoldMarketHandler" method="GetGoldMarketData" params="" cache="60" AllowRequestKey=""></handler>
			<handler key="MarketSymmary" assembly="CafeF_EmbedData.Handlers.MarketHandler" method="GetStockMarketSummary" params="" cache="60" AllowRequestKey=""></handler>
			<handler key="ThoiTietAndTiGia" assembly="CafeF_EmbedData.Handlers.DanTri_ThoiTiet" method="GetThoiTietAndTiGia" params="" cache="3600" AllowRequestKey=""></handler>
		</AllowDomain>
		<!-- TTVNOL -->
		<AllowDomain domain="ttvnol.com">
			<handler key="News_ttvnol" assembly="CafeF_EmbedData.Handlers.NewsHandler" method="GetTinTaiChinhSuKien_BTVChon" params="" cache="0" AllowRequestKey=""></handler>
		</AllowDomain>
		<!-- ==================== -->
		<!-- MuaRe -->
		<AllowDomain domain="muare.vn">
			<handler key="News_ttvnol" assembly="CafeF_EmbedData.Handlers.NewsHandler" method="GetTinTaiChinhSuKien_BTVChon" params="" cache="0" AllowRequestKey=""></handler>
		</AllowDomain>
		<!-- ==================== -->
		<!-- RongBay -->
		<AllowDomain domain="rongbay.com">
			<handler key="News_RongBay" assembly="CafeF_EmbedData.Handlers.NewsHandler" method="GetTinTaiChinhSuKien_BTVChon" params="" cache="0" AllowRequestKey=""></handler>
		</AllowDomain>
		<!-- VangSaiGon -->
		<AllowDomain domain="vangsaigon.com">
			<handler key="News_vangsaigon" assembly="CafeF_EmbedData.Handlers.NewsHandler" method="GetTinTheoNhom" params="'32','7'" cache="0" AllowRequestKey=""></handler>
		</AllowDomain>
		<!-- ==================== -->
		<!-- CliFone -->
		<AllowDomain domain="clifone.com.vn">
			<!--<handler key="News_clifone" assembly="CafeF_EmbedData.Handlers.ShareNewsHandler" method="GetLastestSharingNews" params="'1','5',''" cache="0" AllowRequestKey=""></handler>-->
			<handler key="News_clifone" assembly="CafeF_EmbedData.Handlers.NewsHandler" method="GetTinTaiChinhSuKien_BTVChon" params="" cache="0" AllowRequestKey=""></handler>
		</AllowDomain>
		<!-- ==================== -->
		<!-- eps.com.vn -->
		<AllowDomain domain="eps.com.vn">
			<handler key="EPS_TinTaiChinh" assembly="CafeF_EmbedData.Handlers.ShareNewsHandler" method="GetLastestSharingNews" params="'1','5',''" cache="0" AllowRequestKey=""></handler>
		</AllowDomain>
		<!-- ==================== -->
		<!-- dvsc.com.vn -->
		<AllowDomain domain="dvsc.com.vn">
			<handler key="ACBGoldMarket" assembly="CafeF_EmbedData.Handlers.GoldMarketHandler" method="GetACBGoldMarketData" params="" cache="60" AllowRequestKey=""></handler>
			<handler key="GoldMarket" assembly="CafeF_EmbedData.Handlers.GoldMarketHandler" method="GetGoldMarketData" params="" cache="60" AllowRequestKey=""></handler>
		</AllowDomain>
		<!-- ==================== -->
		<!-- beta.dantri.com.vn -->
		<AllowDomain domain="beta.dantri.com.vn">
			<handler key="MarketSymmary" assembly="CafeF_EmbedData.Handlers.MarketHandler" method="GetStockMarketSummary" params="" cache="60" AllowRequestKey=""></handler>
			<handler key="ThoiTietAndTiGia" assembly="CafeF_EmbedData.Handlers.DanTri_ThoiTiet" method="GetThoiTietAndTiGia" params="" cache="3600" AllowRequestKey=""></handler>
		</AllowDomain>
		<!-- dantri.com.vn -->
		<AllowDomain domain="dantri.com.vn">
			<handler key="MarketSymmary" assembly="CafeF_EmbedData.Handlers.MarketHandler" method="GetStockMarketSummary" params="" cache="60" AllowRequestKey=""></handler>
			<handler key="ThoiTietAndTiGia" assembly="CafeF_EmbedData.Handlers.DanTri_ThoiTiet" method="GetThoiTietAndTiGia" params="" cache="3600" AllowRequestKey=""></handler>
		</AllowDomain>



		<!-- Bao The thao van hoa -->
		<AllowDomain domain="thethaovanhoa.vn">
			<handler key="LastestNews" assembly="CafeF_EmbedData.Handlers.NewsHandler" method="GetLastestNews" params="" cache="0" AllowRequestKey=""></handler>
			<handler key="MarketSymmary" assembly="CafeF_EmbedData.Handlers.MarketHandler" method="GetStockMarketSummary" params="" cache="0" AllowRequestKey=""></handler>
		</AllowDomain>
		<!-- ==================== -->
		<!-- Bao Dien dan doanh nghiep -->
		<AllowDomain domain="dddn.com.vn">
			<handler key="MarketSymmary" assembly="CafeF_EmbedData.Handlers.MarketHandler" method="GetStockMarketSummary" params="" cache="0" AllowRequestKey=""></handler>
			<handler key="News_DiendanDoanhnghiep" assembly="CafeF_EmbedData.Handlers.ShareNewsHandler" method="GetLastestSharingNews" params="'1','5','http://dddn.com.vn/home/CafeF/{0}/{1}.htm'" cache="0" AllowRequestKey=""></handler>
		</AllowDomain>
		<AllowDomain domain="admin.cafef.channelvn.net">
			<handler key="News_DiendanDoanhnghiep" assembly="CafeF_EmbedData.Handlers.ShareNewsHandler" method="GetLastestSharingNews" params="'1','5','http://dddn.com.vn/home/CafeF/{0}/{1}.htm'" cache="0" AllowRequestKey=""></handler>
		</AllowDomain>
		<!-- ==================== -->
		<!-- Bao VNEconomy-->
		<AllowDomain domain="vneconomy.vn">
			<handler key="TopStockSymbol" assembly="CafeF_EmbedData.Handlers.MarketHandler" method="GetTopSymbol" params="'totalTradingQtty','currentPrice','chgIndex','pctIndex'" cache="60" AllowRequestKey=""></handler>
			<handler key="StockSymbolSlide" assembly="CafeF_EmbedData.Handlers.MarketHandler" method="GetStockSymbolBySymbolList" params="'currentPrice','chgIndex','pctIndex'" cache="60" AllowRequestKey=""></handler>
			<handler key="AllStockSymbol" assembly="CafeF_EmbedData.Handlers.MarketHandler" method="GetAllStockSymbol" params="'basicPrice','currentPrice','chgIndex','totalTradingQtty'" cache="60" AllowRequestKey=""></handler>
			<handler key="TopFinanceStatement" assembly="CafeF_EmbedData.Handlers.MarketHandler" method="GetTopFinanceStatementData" params="" cache="60" AllowRequestKey=""></handler>
			<handler key="CompanyInfo" assembly="CafeF_EmbedData.Handlers.MarketHandler" method="GetCompanyInfo" params="" cache="60" AllowRequestKey=""></handler>

			<handler key="ACBGoldMarket" assembly="CafeF_EmbedData.Handlers.GoldMarketHandler" method="GetACBGoldMarketData" params="" cache="60" AllowRequestKey=""></handler>
			<handler key="ExchangeData" assembly="CafeF_EmbedData.Handlers.ExchangeHandler" method="GetExchangeData" params="" cache="60" AllowRequestKey=""></handler>
			<handler key="GoldMarket" assembly="CafeF_EmbedData.Handlers.GoldMarketHandler" method="GetGoldMarketData" params="" cache="60" AllowRequestKey=""></handler>
			<handler key="MarketSymmary" assembly="CafeF_EmbedData.Handlers.MarketHandler" method="GetStockMarketSummary" params="" cache="60" AllowRequestKey=""></handler>

			<handler key="EquivalentEPS" assembly="CafeF_EmbedData.Handlers.MarketHandler" method="GetRelatedCompany" params="'EquivalentEPS'" cache="480" AllowRequestKey=""></handler>
			<handler key="EquivalentPE" assembly="CafeF_EmbedData.Handlers.MarketHandler" method="GetRelatedCompany" params="'EquivalentPE'" cache="480" AllowRequestKey=""></handler>
			<handler key="SameIndustry" assembly="CafeF_EmbedData.Handlers.MarketHandler" method="GetRelatedCompany" params="'SameIndustry'" cache="480" AllowRequestKey=""></handler>

			<handler key="PriceBoardData" assembly="CafeF_EmbedData.Handlers.MarketHandler" method="GetPriceBoardData" params="" cache="60" AllowRequestKey=""></handler>
			<handler key="SymbolList" assembly="CafeF_EmbedData.Handlers.MarketHandler" method="GetStockSymbols" params="" cache="60" AllowRequestKey=""></handler>
		</AllowDomain>
	</AllowDomains>
</configuration>